/ Page Title
.section.section-breadcrumbs
  .container
    .row
      .col-md-6
        %h1 Reconstructions
      .col-md-2
      .col-md-4
        %h1
          - if user_signed_in?
            = link_to "New Reconstruction", new_location_reconstruction_path(@location)
          - else
            = link_to "Login to create a reconstruction", new_user_session_path
.eshop-section.section
  .container
    .row
      - @reconstructions.each do |reconstruction|
        .col-md-3.col-sm-6
          .shop-item
            .shop-item-image
              - if reconstruction.images.count > 0
                = link_to image_tag(reconstruction.images.first.image.url(:square)),location_reconstruction_path(@location,reconstruction)
              - else
                = link_to image_tag("square/missing.png"), location_reconstruction_path(@location,reconstruction)
            .title
              %h3
                =link_to reconstruction.name, location_reconstruction_path(@location,reconstruction)
            .price
              %br
              %br
            .actions
              =link_to "Edit", location_reconstruction_path(@location,reconstruction), class: "btn btn-small"
    .row  
      .col-md-12
        .digg_pagination
          .page_info
            = page_entries_info @reconstructions
          = will_paginate @reconstructions