/ Page Title
.section.section-breadcrumbs
  .container
    .row
      .col-md-6
        %h1 Reconstructions
      .col-md-2
      .col-md-4
        %h1
          - if user_signed_in?
            = link_to "New Reconstruction", new_location_reconstruction_path(@location)
          - else
            = link_to "Login to create a reconstruction", new_user_session_path
%section.content-block.gallery-1.gallery-1-2
  .container
    .underlined-title
      %h1 A selection of our work
      %hr
        %h2 Hand-picked just for you
    / /.gallery-filter
    .row
      - @reconstructions.each do |reconstruction|
        .isotope-gallery-container
          .col-md-4.col-sm-6.col-xs-12.gallery-item-wrapper.artwork.creative
            .gallery-item
              .gallery-thumb
                - if reconstruction.images.count > 0
                  = image_tag reconstruction.images.first.image.url(:medium), class: "img img-responsive"
                  -# .image-overlay
                  -# = link_to
                  -# %a.gallery-zoom{:href => "http://placehold.it/800x600"}
                  -#   %i.fa.fa-eye{:alt => "This is the title"}
                  =link_to reconstruction.name, location_reconstruction_path(@location,reconstruction), class: "gallery-link fa fa-link"
              .gallery-details
                %h5= reconstruction.name
                %p= reconstruction.description
    .row
      .col-md-12
        .digg_pagination
          .page_info
            = page_entries_info @reconstructions
          = will_paginate @reconstructions, param_name: 'reconstructions_page'
