- title "#{@location.name} - #{@reconstruction.name}"
.section.section-breadcrumbs
  .container
    .row
      .col-sm-6
        %h1
          = @reconstruction.name.upcase
      .col-sm-3
        %h1
          = link_to "EDIT", edit_location_reconstruction_path(@location,@reconstruction), class: "btn"
      .col-sm-3
        %h1
          = link_to "BACK", location_path(@location), class: "btn"
.section
  .container
    .row
      / Image Column
      .col-sm-6
        .portfolio-item
          .portfolio-image
            - if @reconstruction.images.count > 0
              = image_tag(@reconstruction.images.first.image.url(:square))
            - else
              = image_tag("square/missing.png")
        / End Image Column
        / Project Info Column
      .portfolio-item-description.col-sm-6
        %h3 Reconstruction Description
        %p
          = @reconstruction.description
    %h3
      3D Models
      = link_to 'Add 3D Model', new_reconstruction_sketchfab_path(@reconstruction)
    .row.mt30
      - @reconstruction.sketchfabs.each do |sketchfab|
        .col-md-4
          = sketchfab.bbcode_to_html(width: 320, height: 240).html_safe

    %h3 Reconstruction Photos
    .row
      - @reconstruction.asset_relations.each do |asset_relation|
        .col-md-3.col-sm-6
          .shop-item
            .shop-item-image
              = image_tag(asset_relation.asset.image.url(:square))
            .actions
              .row
                .col-md-6
                  = link_to download_image_path(asset_relation.asset), class: 'btn btn-small' do
                    <i class="fa fa-download"> Original</i>
                .col-md-6
                  - unless asset_relation.asset.id == @reconstruction.cover_image_id
                    = link_to asset_relation_path(asset_relation), method: :delete, class: 'btn btn-small' do
                      <i class="fa fa-minus-square"> Remove</i>
    .row.mt30
      - if @comparison_images
        %h3 Possible Related Images
        - @comparison_images.each do |comparison_image|
          .col-md-3.col-sm-6
            .shop-item
              .shop-item-image
                = image_tag(comparison_image.image.url(:square))
              .actions
                = link_to reconstruction_asset_relations_path(@reconstruction, asset_id: comparison_image.id), method: :post, class: 'btn btn-small' do
                  <i class="fa fa-plus-square"> Add</i>
    .row.mt30
      - if @images
        %h3 All Images at Location
        - @images.each do |image|
          .col-md-3.col-sm-6
            .shop-item
              .shop-item-image
                = image_tag(image.image.url(:square))
              .actions
                = link_to reconstruction_asset_relations_path(@reconstruction, asset_id: image.id), method: :post, class: 'btn btn-small' do
                  <i class="fa fa-plus-square"> Add</i>
    .row
      .col-md-12
        .digg_pagination
          .page_info
            = page_entries_info @images
          = will_paginate @images, param_name: 'all_images_page'

= render partial: 'shared/disqus', locals: {disqus_url: location_reconstruction_url(@location, @reconstruction), disqus_uuid: @reconstruction.uuid, disqus_title: @reconstruction.name}
