.section.section-white
  .container
    %h2
      Tasks
    .row
      .col-md-4.col-sm-6
        .service-wrapper
          %i.fa.fa-folder-open.fa-5x
          %h2
            Images to Sort
            %br
            %br
          %h1
            - if location
              = location.images.unassigned_to_reconstruction.count
            - else
              = Rails.cache.fetch("unassigned_to_reconstruction", :expires_in => 24.hours) { Image.unassigned_to_reconstruction.count }
          = link_to "Sort Photos", location_images_path(location), class: "btn" if location

      .col-md-4.col-sm-6
        .service-wrapper
          %i.fa.fa-camera-retro.fa-5x
          %h2
            Images Uploaded
            %br
            %br
          %h1
            - if location
              = location.images.unmasked.count
            - else
              = Rails.cache.fetch('unmasked', :expires_in => 24.hours) { Image.unmasked.count }
          - if location
            = link_to "See all Photos", location_images_path(location, show: "all"), class: "btn" if location
          =# link_to "Mask Photos", location_images_path(location), class: "btn" if location
      .col-md-4.col-sm-6
        .service-wrapper
          %i.fa.fa-cubes.fa-5x
          %h2
            Reconstructions to Process
          %h1
            - if location
              = location.reconstructions.sketchfabless.count
            - else
              = Rails.cache.fetch('all_sketchfabless', expires_in: 24.hours) { Reconstruction.sketchfabless.count }
          = link_to "Process Reconstruction", location_reconstructions_path(location), class: "btn" if location
