%section#content-3-10.content-block-nopad.content-3-10
  .row
    .image-container.col-sm-6.col-xs-12.pull-left
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :mozallowfullscreen => "true", :onmousewheel => "", :src => "/kathmandu.html", :webkitallowfullscreen => "true", :width => "100%"}
      %p
        %i
          Switch between the two views at any zoom level to see before and after views.
  .container
    .row
      .col-sm-6.col-sm-offset-6.col-xs-12.content
        %h3 Project News
        %p
          Project Mosul isn't just about heritage in the Middle East, but focuses on heritage around the world. Recently, our partners at
          = link_to 'nFrames', 'http://www.nframes.com', target: "_blank"
          have been working on some reconstructing the entire city of Kathmandu, with particular emphasis on the heritage in the center of the city. This
          = link_to 'blog post', 'http://blog.sketchfab.com/post/125761697819/kathmandu-3d-views-before-and-after-the', target: "_blank"
          gives a full description of the project. In the mean time, we are embedded a special viewer put together by the awesome folks at Sketchfab that shows the Kathmandu before and after the earthquake.
        %a.btn.btn-outline.btn-outline.outline-dark{:href => "http://blog.sketchfab.com/post/125761697819/kathmandu-3d-views-before-and-after-the"} See the Blog Post
    / /.row
  / /.container
%section#content-3-11.content-block-nopad.content-3-11
  .image-container.col-sm-6.col-xs-12.pull-right
    .background-image-holder
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :mozallowfullscreen => "true", :onmousewheel => "", :src => "https://sketchfab.com/models/55ea0aed9bfd462593f006ea8c4aade0/embed", :webkitallowfullscreen => "true", :width => "100%"}
      %p{:style => "font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"}
      %a{:href => "https://sketchfab.com/models/55ea0aed9bfd462593f006ea8c4aade0?utm_source=oembed&utm_medium=embed&utm_campaign=55ea0aed9bfd462593f006ea8c4aade0", :style => "font-weight: bold; color: #1CAAD9;", :target => "_blank"} The Lion of Mosul
      by
      %a{:href => "https://sketchfab.com/neshmi?utm_source=oembed&utm_medium=embed&utm_campaign=55ea0aed9bfd462593f006ea8c4aade0", :style => "font-weight: bold; color: #1CAAD9;", :target => "_blank"} neshmi
      on
      %a{:href => "https://sketchfab.com?utm_source=oembed&utm_medium=embed&utm_campaign=55ea0aed9bfd462593f006ea8c4aade0", :style => "font-weight: bold; color: #1CAAD9;", :target => "_blank"} Sketchfab
  .container
    .row
      .col-sm-6.col-xs-12.content.pull-left
        %h3 Kickstart your web development
        %p
          Want to help out? Pick a location above, and start uploading, sorting, masking, or processing any of the reconstructions available.
          %br
          %br
          Not sure where to start? Why not start
          = link_to 'here', location_path('mosul-museum')
          %br
          %br
          Do you know how to code? Why not help out with building some of the tools
          = link_to 'here', 'https://github.com/neshmi/projectmosul'
          %br
          %br
          Whatever the case, join the conversation with the community of volunteers with our Slack channel
          = link_to 'here.', 'https://projectmosul.github.io'
        %p
          Together, we are working on a framework for the digital restoration and curation of lost heritage, with the ultimate goal to provide virtual reality access to these museums online. If you want to get involved, fill out this form
          = link_to 'here', "http://tinyurl.com/projectmosulvolunteer", target: "_blank"
          and we will get you connected with the right area.
