.section
  .container
    %h2 Our Partners
    .row
      = render 'digitalmed'
      = render 'ifp'
      = render 'fbk'
      = render 'cvast'
      = render 'sketchfab'
      = render 'three_d_flow'
      = render 'nframes'
      = render 'agisoft'
      = render 'economist'
      = render 'cyark'
      = render 'newpalmyra'
      = render 'u4h'
