.section
  .container
    %h2 Our Partners
    .row
      =# render 'itndch'
      = render 'sketchfab'   
      = render 'culturalmap'
      = render 'cyark' 
      = render 'ad_and_d_4d'
      = render 'three_d_flow'
      = render 'nframes'
      = render 'digitalmed' 
      = render 'ifp'
      -# = render 'fourdch'      
      -# = render 'espace'
