%section#content-1-7.content-1-7.content-block
  .container
    .row.text-center
      %h2 Our Partners
    .row
      = render 'sketchfab'
      = render 'culturalmap'
      = render 'cyark'
      = render 'three_d_flow'
      = render 'nframes'
      = render 'agisoft'
      = render 'ad_and_d_4d'
      = render 'digitalmed'
      = render 'ifp'
      = render 'fbk'
