.section
  .container
    %h2 Our Partners
    .row
      = render 'itndch'
      = render 'fourdch'      
      = render 'espace'
      = render 'digitalmed' 
      = render 'sketchfab'   
      = render 'culturalmap'
      = render 'arctron'
      = render 'cyark' 
