- title("Home")
.section.section-white
  .container
    .row
      .col-md-6
        %h3 Project Mosul
        %p
          Project Mosul is an initative started by Matthew Vincent (ITN-DCH Researcher), Chance Coughenour (ITN-DCH Researcher), and Marinos Ioannides (ITN-DCH Coordinator) of the Initial Training Network for Digital Cultural Heritage, a Marie Curie Actions FP7-PEOPLE funded project. The project is a response to the destruction of cultural heritage by the Islamic States, and proposes to use crowd-sourced imagery to digitally reconstruct the heritage that has been destroyed. 
        %h3 Get Involved!
        %p
          Project Mosul has already expanded to working with two other European Union projects,
          = link_to '4d-CH-World', "http://www.4d-ch-world.eu/", target: "_blank"
          a FP7-PEOPLE IAPP project, and
          = link_to 'Europeana Space', "http://www.europeana-space.eu/", target: "_blank"
          also a European Union project. We are also working with private industry, particularly 
          = link_to 'Sketchfab', "https://sketchfab.com", target: "_blank"
          a start-up focusing on 3D content on the web, a sort of YouTube for 3D Objects. Together, we are working on a framework for the digital restoration and curation of lost heritage, with the ultimate goal to provide virtual reality access to these museums online. If you want to get involved, fill out this form 
          = link_to 'here', "http://tinyurl.com/projectmosulvolunteer", target: "_blank"
          and we will get you connected with the right area.
      .col-md-6
        .video-wrapper
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "281", :mozallowfullscreen => "true", :onmousewheel => "", :src => "https://sketchfab.com/models/55ea0aed9bfd462593f006ea8c4aade0/embed", :webkitallowfullscreen => "true", :width => "555"}
          %p{:style => "font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"}
          %a{:href => "https://sketchfab.com/models/55ea0aed9bfd462593f006ea8c4aade0?utm_source=oembed&utm_medium=embed&utm_campaign=55ea0aed9bfd462593f006ea8c4aade0", :style => "font-weight: bold; color: #1CAAD9;", :target => "_blank"} The Lion of Mosul
          by
          %a{:href => "https://sketchfab.com/neshmi?utm_source=oembed&utm_medium=embed&utm_campaign=55ea0aed9bfd462593f006ea8c4aade0", :style => "font-weight: bold; color: #1CAAD9;", :target => "_blank"} neshmi
          on
          %a{:href => "https://sketchfab.com?utm_source=oembed&utm_medium=embed&utm_campaign=55ea0aed9bfd462593f006ea8c4aade0", :style => "font-weight: bold; color: #1CAAD9;", :target => "_blank"} Sketchfab

.section
  .container
    %h2 Our Partners
    .row
      .col-md-4.col-sm-6
        .portfolio-item
          .portfolio-image
            = image_tag "logos/itndch.jpg"
          .portfolio-info
            %ul
              %li.portfolio-project-name Initial Training Network for Digital Cultural Heritage
              %li Coordinating partner
              %li.read-more
                = link_to "Read More", "http://www.itn-dch.eu", target: "_blank", class: "btn"
      .col-md-4.col-sm-6
        .portfolio-item
          .portfolio-image
            = image_tag "logos/4dch_logo.jpg"
          .portfolio-info
            %ul
              %li.portfolio-project-name Four Dimensional Cultural Heritage World
              %li Crowd-sourced Photogrammetry
              %li.read-more
                = link_to "Read More", "http://www.4d-ch-world.eu/", target: "_blank", class: "btn"      
      .col-md-4.col-sm-6
        .portfolio-item
          .portfolio-image
            = image_tag "logos/espace_logo.jpg"
          .portfolio-info
            %ul
              %li.portfolio-project-name Europeana Space, Best Practice Network
              %li Education and Dissemination
              %li.read-more
                %a.btn{:href => "page-portfolio-item.html"} Read more
      .col-md-4.col-sm-6
        .portfolio-item
          .portfolio-image
            = image_tag "logos/digitalmed.jpg"
          .portfolio-info
            %ul
              %li.portfolio-project-name digitalMED
              %li 3D Model Processing
              %li &nbsp;
              %li.read-more
                = link_to "Read More", "http://www.um.es/web/digitalmed/", target: "_blank", class: "btn" 
      .col-md-4.col-sm-6
        .portfolio-item
          .portfolio-image
            = image_tag "logos/sketchfab_logo.jpg"
          .portfolio-info
            %ul
              %li.portfolio-project-name Sketchfab
              %li 3D Model Hosting
              %li Technical Support
              %li.read-more
                = link_to "Read More", "https://sketchfab.com/", target: "_blank", class: "btn"   
      .col-md-4.col-sm-6
        .portfolio-item
          .portfolio-image
            = image_tag "logos/culturalmap_logo.png"
          .portfolio-info
            %ul
              %li.portfolio-project-name Culturalmap
              %li Education
              %li Geo-publishing
              %li.read-more
                = link_to "Read More", "http://www.culturalmap.org", target: "_blank", class: "btn"    

/ Services
.section
  .container
    %h2
      Tasks
    .row
      .col-md-4.col-sm-6
        .service-wrapper
          %i.fa.fa-camera-retro.fa-5x
          %h2
            Images to Sort
          %h1
            = Image.unassigned_to_artefact.count
          = link_to "Sort Photos", images_path, class: "btn"
      .col-md-4.col-sm-6
        .service-wrapper
          %i.fa.fa-magic.fa-5x
          %h2
            Images to Mask
          %h1
            = Image.unmasked.count
          = link_to "Mask Photos", images_path, class: "btn"
      .col-md-4.col-sm-6
        .service-wrapper
          %i.fa.fa-cubes.fa-5x
          %h2
            Artefacts to Process
          %h1
            = Artefact.sketchfabless.count
          = link_to "Process Artefacts", artefacts_path, class: "btn"
