.section.section-breadcrumbs
  .container
    .row
      .col-md-12
        %h1 Press Kit
.section
  .container
    .row
      .col-md-1
      .col-md-10.span-1
        %p
          Project Mosul is a volunteer initiative to create virtual models of recently destroyed cultural heritage in Iraq, as seen in the video of the violence at the Mosul Museum circulated in February 2015. By starting a positive effort to engage communities across the globe that wish to preserve our knowledge of this valuable heritage for future generations, the project aims to facilitate the empowerment of people to participate in cultural preservation and restoration in face of its unnecessary loss. The recent acts of cultural destruction have been described by UNESCO as a ‘cultural tragedy’ and strongly condemned by ICOMOS.  Beyond just destruction, we are witness to looting and black market sales of cultural heritage from Iraq, Syria and beyond. But we need not feel helpless nor passive spectators.
        %p
          The initiators of Project Mosul are fellows of the European Union Marie Curie programme, “Initial Training Network for Digital Cultural Heritage” (ITN-DCH). This is network of young heritage professionals of various nationalities encompasses a wide range of skillls in the domain of digital cultural heritage. Working in ten different European countries, a main focus of the network is the use of 3D objects in the field of heritage management and conservation. The core team of Project Mosul, with the expertise it possesses from its training in ITN-DCH, wanted to respond quickly to the on-going cultural loss by building the tools, in the form of a web platform and masking software, that would allow for the 3D virtual reconstruction of the destroyed artefacts. This initial team is being joined daily by volunteers from around the world. These are people looking to make a positive difference in the preservation of cultural heritage. Likewise the project is growing in scope to offer its facilities for digital reconstruction for the artefacts that have been damaged or destroyed at other sites such as Hatra and Nimrud.
        %p
          Project Mosul aims to avoid the rhetoric of hate with which these acts of destruction have been associated and instead wants to focus on a message of hope: by working together, it is possible to preserve our shared memory and connections to our cultural heritage, even renew and invigorate it, regardless of the acts of destruction currently being perpetrated upon it. 
        %p
          What the project practically proposes is to use crowd-sourced images to virtually recreate artefacts as 3D objects using the latest in photogrammetry techniques. These 3D representations will then be presented in an online museum where the data will be freely accessible to the public. 
        %p
          While these 3D objects can never replace the artefacts that have been destroyed, they can serve as a starting point to keep the memory of these objects and their meaning alive. The 3D objects may initially serve in helping identify stolen items and aid researchers working on the destroyed items.  Virtual reconstruction is not an end in itself, however, but the start of a reengagement with the meaning of these objects. It is hoped that the virtual representations will give an additional tool to the communities that wish to think about, learn about, and work on the preservation and dissemination of these important elements of a national, regional and global history, and to return a sense of agency to those left helpless in the face of the destruction of their heritage.
        %p
          Project Mosul is working closely together with other organisations, not least the local management of the Mosul Museum, but also initiatives such as the EU's 4D-Ch-World and the digital library EUROPEANA.
        %p
          Volunteers are still being sought for a variety of tasks:
        %ul
          %li Sourcing of data
          %li Sorting of uploaded images
          %li Masking of images
          %li Coding/web development
          %li Administration
          %li Processing of photogrammetric models
        %p
          Project Mosul can be contacted through its website or through twitter 
          = link_to '@projectmosul', 'https://twitter.com/projectmosul'
        %p
          Links:
        %ul
          %li
            = link_to 'http://www.itn-dch.eu/', 'http://www.itn-dch.eu'
          %li 
            = link_to 'http://www.4d-ch-world.eu/', 'http://www.4d-ch-world.eu/'
          %li 
            = link_to 'http://www.europeana.eu', 'http://www.europeana.eu'
          %li 
            = link_to 'http://www.cyark.org/news/a-statement-from-icomos', 'http://www.cyark.org/news/a-statement-from-icomos'
