- title "Press Mentions"
.section.section-breadcrumbs
  .container
    .row
      .col-md-12
        %h1 Selected Media Coverage
.section
  .container
    .row
      .col-md-1
      .col-md-10.span-1
        %h3 BBC
        %h4= link_to 'http://www.bbc.com/news/science-environment-32742622', 'http://www.bbc.com/news/science-environment-32742622'
        %h4= link_to 'http://www.bbc.co.uk/programmes/p02qtx6x', 'http://www.bbc.co.uk/programmes/p02qtx6x'
        %br
        %h3 Valeria Cambule
        %h4= link_to 'https://medium.com/@Valeria_Cambule/a-digital-afterlife-for-destroyed-heritage-89be766c6d09#.cwystcnn3', 'https://medium.com/@Valeria_Cambule/a-digital-afterlife-for-destroyed-heritage-89be766c6d09#.7rn2fp6me'
        %br
        %h3 The Economist
        %h4= link_to 'http://www.economist.com/blogs/prospero/2015/11/economist-asks-virtual-reality-future-history (Podcast Part 1)','http://www.economist.com/blogs/prospero/2015/11/economist-asks-virtual-reality-future-history'
        %h4= link_to 'http://www.economist.com/blogs/prospero/2015/11/economist-asks-virtual-reality-future-history-0 (Podcast Part 2)','http://www.economist.com/blogs/prospero/2015/11/economist-asks-virtual-reality-future-history-0'
        %br
        %h3 PBS
        %h4= link_to 'http://www.pbs.org/newshour/bb/destroyed-isis-artifacts-may-find-new-life-3d-reconstruction/', 'http://www.pbs.org/newshour/bb/destroyed-isis-artifacts-may-find-new-life-3d-reconstruction/'
        %br
        %h3 Techcrunch
        %h4= link_to 'http://techcrunch.com/2015/03/18/a-chat-with-project-mosul-about-rebuilding-a-ruined-history/', 'http://techcrunch.com/2015/03/18/a-chat-with-project-mosul-about-rebuilding-a-ruined-history/'
        %br
        %h3 The Conversation
        %h4= link_to 'https://theconversation.com/preservationists-race-to-capture-cultural-monuments-with-3d-images-53536', 'https://theconversation.com/preservationists-race-to-capture-cultural-monuments-with-3d-images-53536'
        %br
        %h3 Vice: Motherboard
        %h4= link_to 'http://motherboard.vice.com/en_uk/read/how-the-artifacts-isis-destroyed-are-being-digitally-reconstructed', 'http://motherboard.vice.com/en_uk/read/how-the-artifacts-isis-destroyed-are-being-digitally-reconstructed'
        %br
        %h3 Smithsonian
        %h4= link_to 'http://www.smithsonianmag.com/smart-news/cyber-archeology-may-be-way-preserve-artifacts-destroyed-militants-180955384', 'http://www.smithsonianmag.com/smart-news/cyber-archeology-may-be-way-preserve-artifacts-destroyed-militants-180955384'
        %br
        %h3 Le Monde (French)
        %h4= link_to 'http://www.lemonde.fr/arts/article/2015/03/17/projet-mossoul-un-musee-virtuel-pour-reagir-face-a-la-barbarie-de-l-etat-islamique_4595546_1655012.html', 'http://www.lemonde.fr/arts/article/2015/03/17/projet-mossoul-un-musee-virtuel-pour-reagir-face-a-la-barbarie-de-l-etat-islamique_4595546_1655012.html'
        %br
        %h3 NPR
        %h4= link_to 'http://www.npr.org/sections/alltechconsidered/2015/06/01/411138497/cyber-archaeologists-rebuild-destroyed-artifacts', 'http://www.npr.org/sections/alltechconsidered/2015/06/01/411138497/cyber-archaeologists-rebuild-destroyed-artifacts'
        %br
        %h3 International Business Times
        %h4= link_to 'http://www.ibtimes.co.uk/project-mosul-archaeologists-fight-back-isis-heritage-destruction-3d-museum-online-1492580', 'http://www.ibtimes.co.uk/project-mosul-archaeologists-fight-back-isis-heritage-destruction-3d-museum-online-1492580'
        %br
        %h3 De Redactie (Dutch)
        %h4= link_to 'http://deredactie.be/cm/vrtnieuws/videozone/programmas/terzake/2.39067?video=1.2346572', 'http://deredactie.be/cm/vrtnieuws/videozone/programmas/terzake/2.39067?video=1.2346572'
        %br
        %h3 Das Erste (German)
        %h4= link_to 'http://www.daserste.de/information/politik-weltgeschehen/weltspiegel/sendung/syrien-palmyra-102.html', 'http://www.daserste.de/information/politik-weltgeschehen/weltspiegel/sendung/syrien-palmyra-102.html'
        %br
        %h3 Club Innovation & Cultural France (French)
        %h4= link_to 'http://www.club-innovation-culture.fr/nous-souhaitons-mobiliser-monde-pour-reconstituer-patrimoine-culturel-mossoul/','http://www.club-innovation-culture.fr/nous-souhaitons-mobiliser-monde-pour-reconstituer-patrimoine-culturel-mossoul/'
        %br
        %h3 Lenta (Russian)
        %h4= link_to 'http://lenta.ru/news/2015/05/19/cyberarcheo/', 'http://lenta.ru/news/2015/05/19/cyberarcheo/'
        %br
        %h3 Veja (Portuguese)
        %h4= link_to 'http://veja.abril.com.br/noticia/vida-digital/como-a-era-digital-preserva-a-historia-da-humanidade', 'http://veja.abril.com.br/noticia/vida-digital/como-a-era-digital-preserva-a-historia-da-humanidade'
