<%= form_for(resource, :as => resource_name,
    :url => session_path(resource_name),
    role: "form", class: "form-signin") do |f| %>

    <h2 class="form-signin-heading">Please Sign In</h2>

    <%= f.label :username, class: "sr-only" %>
    <%= f.text_field :username, :autofocus => true, placeholder: "Username",class: "form-control" %>

    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field :password, placeholder: "Password", class: "form-control" %>

    <div class="checkbox">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>

      <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>

      <p class="links">
       <%= render "devise/shared/links" %>
      </p>
<% end %>

