<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Login</h1>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="basic-login">
          <%= form_for(resource, :as => resource_name,
          :url => session_path(resource_name),
          role: "form", class: "form-signin") do |f| %>
          <div class="form-group">
            <%= f.label :login, class: "sr-only" %>
            <%= f.text_field :login, :autofocus => true, placeholder: "Username/e-mail",class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, class: "sr-only" %><i class="icon-lock"></i>
            <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
            <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
            <p class="links">
              <%= render "devise/shared/links" %>
            </p>
          </div>
          <div class="clearfix"></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
