<%= form_for @artefact, :html => { :class => 'form-horizontal', multipart: true } do |f| %>

  <% if @artefact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artefact.errors.count, "error") %> prohibited this artefact from being saved:</h2>

      <ul>
      <% @artefact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :museum_identifier, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :museum_identifier, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :images, :class => 'control-label' %>
    <div class="controls">
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                artefacts_path, :class => 'btn btn-mini' %>
  </div>
<% end %>