/ Page Title
.section.section-breadcrumbs
  .container
    .row
      .col-md-6
        %h1 Artefacts
      .col-md-2
      .col-md-4
        %h1
          - if user_signed_in?
            = link_to "New Artefact", new_artefact_path
          - else
            = link_to "Login to create an artrefact", new_user_session_path
.eshop-section.section
  .container
    .row
      - @artefacts.each do |artefact|
        .col-md-3.col-sm-6
          .shop-item
            .shop-item-image
              - if artefact.images.count > 0
                = link_to image_tag(artefact.images.first.image.url(:square)),artefact_path(artefact)
              - else
                = link_to image_tag("square/missing.png"), artefact_path(artefact)
            .title
              %h3
                =link_to artefact.name, artefact_path(artefact)
            .price
              %br
              %br
            .actions
              =link_to "Edit", artefact_path(artefact), class: "btn btn-small"
    .row  
      .col-md-12
        .digg_pagination
          .page_info
            = page_entries_info @images
          = will_paginate @images