<p id="notice"><%= notice %></p>


<% if user_signed_in? %>
  <%= link_to 'New Artefact', new_artefact_path %>
<% else %>
  You must be signed in to create an artefact
<% end %>

<h1>Listing Artefacts</h1>

<% @artefacts.each do |artefact| %>
    <div class="col-md-4" id="artefact_<%= artefact.id %>">
      <div class="thumbnail">
        <% if artefact.images.first %>
        <%= link_to image_tag(artefact.images.first.image.url(:thumb)), artefact_path(artefact) %>
        <% else %>
          N/A
        <% end %>
        <div class="caption">
          <p style="text-align: center;">
            <%= artefact.name %>
          </p>
          <p style="text-align: center;">
            <%= link_to "Show", artefact_path(artefact) %>
            <%= link_to "Edit or Add Photos", edit_artefact_path(artefact) %>
            <%= link_to "Delete", artefact,
              :data => { :confirm => "Are you sure?" },
              :method => :delete if current_user.try(:admin?)
            %>
          </p>
        </div>
      </div>
    </div>
<% end %>

<br>

