<p id="notice"><%= notice %></p>

<h1>Listing Artefacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Photos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artefacts.each do |artefact| %>
      <tr>
        <td><%= artefact.name %></td>
        <td><%= artefact.description %></td>
        <td><%= artefact.photos %></td>
        <td><%= link_to 'Show', artefact %></td>
        <td><%= link_to 'Edit', edit_artefact_path(artefact) %></td>
        <td><%= link_to 'Destroy', artefact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Artefact', new_artefact_path %>
<% else %>
  You must be signed in to create an artefact
<% end %>
