<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_artefact_path(@artefact) %> |
<%= link_to 'Back', artefacts_path %>

<p>
  <strong>Name:</strong>
  <%= @artefact.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artefact.description %>
</p>

<% @artefact.assets.each do |asset| %>
  <%= link_to image_tag(asset.image.url(:thumb)), asset.image.url(:original) %>
<% end %>