.section.section-breadcrumbs
  .container
    .row
      .col-md-3
        %h1 Image Details
      .col-md-3
        %h1
          = link_to "Previous", location_image_path(@location,@previous), class: "btn" if @previous
      .col-md-3
        %h1
          = link_to "Images", location_images_path(@location), class: "btn"
      .col-md-3
        %h1
          = link_to "Next", location_image_path(@location,@next), class: "btn" if @next
.section
  .container
    .row
      .col-sm-6
        .product-image-large
          = image_tag @image.image.url(:square)
      .col-sm-6.product-details
        - if @image.reconstruction
          %h4
            Reconstruction:
            = @image.reconstruction.name
        - else
          %h4
            No Artefact Assigned
        - if @user
          %h4
            User:
            = @user.username
        - else
          %h4
            No User Assigned
        - modal ||= false
        - remote = modal ? true : false
        = form_for([@location,@image], remote: remote, html: {role: :form, 'data-model' => 'image'}) do |f|
          - if @image.errors.any?
            #error_explanation
              %h2
                = pluralize(@image.errors.count, "error")
                prohibited this person from being saved:
              %ul
                - @image.errors.full_messages.each do |msg|
                  %li= msg
          %table.shop-item-selections
            / Color Selector
            %tr
              %td
                %b
                  = f.label :reconstruction_id, class: 'control-label'
              %td
                .dropdown
                  = f.select :reconstruction_id, @location.reconstructions.all.map{|reconstruction| [reconstruction.name, reconstruction.id]}, include_blank: true, class: 'form-control'
            %tr
              %td &#160;
              %td
                = f.submit 'Submit', class: 'btn btn'
